In [1]:
# Import libraries
import pandas as pd
import numpy as np

# Load the dataset
df = pd.read_csv(r'C:\Users\EASYWAY TECH CENTER\Desktop\marketing campaign.csv')

# Display the first 5 rows
df.head()

,occupation,age,education_level,marital_status,communication_channel,call_month,call_day,call_duration,call_frequency,previous_campaign_outcome,conversion_status
0,administrative_staff,28,high_school,married,unidentified,September,9,1,1,successful,not_converted
1,administrative_staff,58,unidentified,married,unidentified,June,5,307,2,unidentified,not_converted
2,jobless,40,high_school,divorced,mobile,February,4,113,1,unidentified,not_converted
3,retired_worker,63,high_school,married,mobile,April,7,72,5,unidentified,not_converted
4,business_owner,43,college,married,landline,July,29,184,4,unidentified,not_converted

In [2]:
# Data Overview & Cleaning

# 1. Check the info of the dataset
df.info()

# 2. Check for missing values
print(df.isnull().sum())

# 3. Check the balance of our main target: conversion_status
print("\nConversion Status Counts:")
print(df['conversion_status'].value_counts())
print("\nConversion Rate (%):")
print(round(df['conversion_status'].value_counts(normalize=True) * 100, 2))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   occupation                 45211 non-null  object
 1   age                        45211 non-null  int64
 2   education_level            45211 non-null  object
 3   marital_status             45211 non-null  object
 4   communication_channel      45211 non-null  object
 5   call_month                 45211 non-null  object
 6   call_day                   45211 non-null  int64
 7   call_duration              45211 non-null  int64
 8   call_frequency             45211 non-null  int64
 9   previous_campaign_outcome  45211 non-null  object
 10  conversion_status          45211 non-null  object
dtypes: int64(4), object(7)
memory usage: 3.8+ MB
occupation                   0
age                          0
education_level              0
marital_status               0
communication_channel        0
call_month                   0
call_day                     0
call_duration                0
call_frequency               0
previous_campaign_outcome    0
conversion_status            0
dtype: int64

Conversion Status Counts:
conversion_status
not_converted    39922
converted         5289
Name: count, dtype: int64

Conversion Rate (%):
conversion_status
not_converted    88.3
converted        11.7
Name: proportion, dtype: float64

In [3]:
# Question 1: What is the overall campaign success rate?
# Calculate the overall conversion rate
total_customers = df.shape[0]
converted_customers = df[df['conversion_status'] == 'converted'].shape[0]
conversion_rate = (converted_customers / total_customers) * 100

print(total_customers)
print(converted_customers)
print(conversion_rate)

45211
5289
11.698480458295547

In [4]:
# Question 2: Which customer occupation has the highest conversion rate?
# Group data by occupation and calculate conversion rate for each
occupation_conversion = df.groupby('occupation')['conversion_status'].apply(
    lambda x: (x == 'converted').mean() * 100  # Calculate percentage
).round(2).sort_values(ascending=False)

print("Conversion Rate by Occupation (%):")
print(occupation_conversion)

# Find the top-performing occupation
top_occupation = occupation_conversion.idxmax()
top_rate = occupation_conversion.max()
print(f"\nThe occupation with the highest conversion rate is '{top_occupation}' at {top_rate}%.")

Conversion Rate by Occupation (%):
occupation
student                 28.68
retired_worker          22.79
jobless                 15.50
executive               13.76
administrative_staff    12.20
independent_worker      11.84
unidentified            11.81
technical_specialist    11.06
service_worker           8.88
domestic_worker          8.79
business_owner           8.27
manual_worker            7.27
Name: conversion_status, dtype: float64

The occupation with the highest conversion rate is 'student' at 28.68%.

In [5]:
# Question 3: What is the best month to run the campaign?
# Group data by month and calculate conversion rate
monthly_performance = df.groupby('call_month')['conversion_status'].apply(
    lambda x: (x == 'converted').mean() * 100
).round(2).sort_values(ascending=False)

print("Conversion Rate by Month (%):")
print(monthly_performance)

# Find the best month
best_month = monthly_performance.idxmax()
best_month_rate = monthly_performance.max()
print(f"\nThe best month to run the campaign is '{best_month}' with a {best_month_rate}% conversion rate.")

Conversion Rate by Month (%):
call_month
March        51.99
December     46.73
September    46.46
October      43.77
April        19.68
February     16.65
August       11.01
June         10.22
November     10.15
January      10.12
July          9.09
May           6.72
Name: conversion_status, dtype: float64

The best month to run the campaign is 'March' with a 51.99% conversion rate.

In [5]:
# Question 4: How does call duration relate to conversion?
# Calculate average call duration for converted vs not converted customers
duration_analysis = df.groupby('conversion_status')['call_duration'].mean().round(2)

print("Average Call Duration (seconds):")
print(duration_analysis)

# Calculate the difference
conv_duration = duration_analysis['converted']
not_conv_duration = duration_analysis['not_converted']
difference = conv_duration - not_conv_duration

print(f"\nOn average, successful calls are {difference:.0f} seconds longer than unsuccessful calls.")

Average Call Duration (seconds):
conversion_status
converted        537.29
not_converted    221.18
Name: call_duration, dtype: float64

On average, successful calls are 316 seconds longer than unsuccessful calls.